{% extends 'assistant/assbase.html' %} {% block title %}VAssist | Ass Chating Rooms{% endblock %}
<div>{% block content %} {% load static %}</div>


<div class="pt-24 bg-[#ecfdf5] py-4">

  <header>
    <h2 class="text-gray-400 text-2xl font-semibold m-6 text-center">Chat Room for {{ chat_details.0.Booking_id }}</h2>
    <div class="text-center"><i class="fa-solid fa-circle-info mr-2"></i> {{ request_details.message }}</div>
    </header>

<!-- 
  Booking_id = models.IntegerField(default=0)
  message = models.CharField(max_length=1000, default="")
  username = models.CharField(max_length=100, default="")
  bookdate = models.CharField(max_length=15, default="")
  booktime = models.CharField(max_length=15, default="")
 -->

    <div class=" mx-10">
        {% for chats in chat_details %}

            {% if chats.username == user.username %}
                <!-- assistant -->
                <div class="text-right pr-4 p-1 my-2 ml-10">
                    <b>{{ user.username }}:</b> {{ chats.message }}
                </div>
                

            {% else %}
                <!-- user  -->
                <div class="text-left pl-4 p-1 my-2 mr-10">
                    <b>{{ chats.username }}:</b> {{ chats.message }}
                </div>
            {% endif %}

        {% endfor %}

        <!-- Form for making a post -->
        <form method="post" class="my-4">
            {% csrf_token %}
            <div class="flex justify-end">
                <!-- <textarea id="new_post" name="new_post" cols="50" required class="border shadow-xl p-4"></textarea> -->
                <textarea id="new_post" name="new_post" cols="50" required class="border border-gray-600 rounded-lg p-2 resize-none w-2/6 h-10 focus:outline-none focus:border-blue-500 overflow-y-hidden mr-2 shadow-xl" placeholder="enter your message..."
                ></textarea>


                <!-- <input type="text" id="forum_topic" name="forum_slug" value="{{ user.username }}" class="hidden"> -->
                <input type="text" id="forum_topic" name="forum_topic" value="{{ chat_details.0.Booking_id }}" class="hidden">
                
                <button type="submit" class="p-2 border border-gray-600 rounded-lg shadow-xl">Send</button>
            </div>
        </form>

        
        

    </div>

</div>

<!-- <a href="" target="_blank"></a> -->
{% endblock %}

